.burger-constructor {
    width: 600px;
    height: 912px;
    display: flex;
    flex-direction: column;
   
    &__ingredients{
        width: 600px;
        height: 560px;
        overflow-y: auto;
    }

    &__info-price{
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__ingredient{
        display: flex;
        align-items: center;
    }
}

