#root {
  text-align: center;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html, body {
  margin: 0; /* Убираем отступы по умолчанию */
  height: 100%; /* Устанавливаем высоту на 100% */
  overflow-x: hidden;
}
